@using Accounting.Application.Utilities
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Accounting.Domain.Models.Customers.Customer
@{
    ViewData["Title"] = "ویرایش مشتری";
}

<div class="content-header row">
    <div class="content-header-left col-12 mb-2 mt-1">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <div class="breadcrumb-wrapper">
                    <ol class="breadcrumb p-0 mb-0">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-controller="Customer" asp-action="Index">لیست مشتری</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="#">ویرایش مشتری</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="col-md-12 col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">ویرایش مشتری</h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <form class="form form-vertical" method="post">
                    <input type="hidden" asp-for="UserId" value="@User.GetUserId()" />
                    <input type="hidden" asp-for="CustomerId" />
                    <input type="hidden" asp-for="CreateDate" />
                    <div class="form-body">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="FullName"></label>
                                    <div class="position-relative has-icon-left">
                                        <input autocomplete="off" type="text" class="form-control" asp-for="FullName">
                                        <span asp-validation-for="FullName" class="text-danger"></span>

                                    </div>
                                </div>
                            </div>




                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Phone"></label>
                                    <div class="position-relative has-icon-left">
                                        <input autocomplete="off" type="number" class="form-control" asp-for="Phone">
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Address"></label>
                                    <div class="position-relative has-icon-left">
                                        <textarea rows="3" autocomplete="off" class="form-control" asp-for="Address"></textarea>
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Description"></label>
                                    <div class="position-relative has-icon-left">
                                        <textarea rows="6" autocomplete="off" class="form-control" asp-for="Description"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-12 d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary mr-1 mb-1">ثبت</button>
                            </div>
                        </div>



                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
